<div class="mb-3">
  <div class="w-100 d-inline-flex">
    <label class="col-6 pl-0">Tiền thuốc</label>
    <input class="form-control-sm border-dark w-100" type="text">
  </div>
</div>
<div class="mb-3">
  <div class="w-100 d-inline-flex">
    <label class="col-6 pl-0">%Chiết khấu</label>
    <input class="form-control-sm border-dark w-100" type="text">
  </div>
</div>
<div class="mb-3">
  <div class="w-100 d-inline-flex">
    <label class="col-6 pl-0">Tổng tiền</label>
    <input class="form-control-sm border-dark w-100" type="text">
  </div>
</div>
<div class="mb-3">
  <div class="w-100 d-inline-flex">
    <label class="col-6 pl-0">Thanh toán</label>
    <input class="form-control-sm border-dark w-100" type="text">
  </div>
</div>
<div class="mb-4">
  <div class="w-100 d-inline-flex">
    <label class="col-6 pl-0">Còn lại</label>
    <input class="form-control-sm border-dark w-100" type="text">
  </div>
</div>
