<div class="container">
  <main>
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="mx-auto" style="width: 60% !important;">
          <div class="col-md-12 contact-form" id="login-form">
            <h2 class="h1 text-center">Thêm Khách Hàng</h2>
            <form [formGroup]="customerForm" (ngSubmit)="submit()" *ngIf="customerForm">
              <div class="form-group">
                <label for="team">Nhóm khách hàng <span class="text-danger"></span></label>

                <select formControlName="customerGroup" id="team" class="form-control col 10 js-example-basic-single"
                        style="width: 100%;height: 100%" name="state">
                  <option value="" disabled>Select a Group</option>
                  <option *ngFor="let group of customerGroup"
                          [ngValue]="group"
                          style="color: blue">
                    {{group.customerGroupName}}
                  </option>
                </select>
              </div>

              <div class="form-group">
                <label for="customer">Tên Khách hàng <span class="text-danger">*</span></label>
                <input formControlName="customerName" type="text" class="form-control" id="customer" required/>
                <p class="small text-danger"
                   *ngIf="customerForm.controls.customerName.hasError('required') && customerForm.controls.customerName.touched">
                  Vui lòng nhập tên khách hàng !
                </p>
                <p class="small text-danger"
                   *ngIf="customerForm.controls.customerName.hasError('pattern') && customerForm.controls.customerName.touched">
                  Tên khách hàng sai định dạng, vui lòng nhập lại !
                </p>
                <p class="small text-danger"
                   *ngIf="messageName != ''">
                  Phòng đã tồn tại, vui lòng nhập tên khác !
                </p>
              </div>
              <div class="form-group">
                <label for="birthday">ngày sinh <span class="text-danger"></span></label>
                <input formControlName="customerAge" type="date" class="form-control" id="birthday" required/>
                <p class="small text-danger"
                   *ngIf="customerForm.controls.customerAge.hasError('required') && customerForm.controls.customerAge.touched">
                  Vui lòng nhập ngày sinh !
                </p>
                <p class="small text-danger"
                   *ngIf="customerForm.controls.customerAge.hasError('pattern') && customerForm.controls.customerAge.touched">
                  Ngày sinh sai định dạng, vui lòng nhập lại !
                </p>
              </div>
              <div class="form-group">
                <label for="address">địa chỉ <span class="text-danger"></span></label>
                <input formControlName="customerAddress" type="text" class="form-control" id="address" required/>
                <p class="small text-danger"
                   *ngIf="customerForm.controls.customerAddress.hasError('required') && customerForm.controls.customerAddress.touched">
                  Vui lòng nhập địa chỉ !
                </p>
              </div>
              <div class="form-group">
                <label for="phone">Điện Thoại <span class="text-danger"></span></label>
                <input formControlName="customerPhone" type="text" class="form-control" id="phone" required/>
                <p *ngIf="customerForm.controls.customerPhone.touched" class="msgError">
                  <span *ngIf="customerForm.controls.customerPhone.errors?.required">Phone is required</span>
                  <span *ngIf="customerForm.controls.customerPhone.errors?.pattern">Phone must have 10-12 digits</span>
                </p>
              </div>
              <input type="reset" class="btn btn-secondary" (click)="cancelSubmit()" value="Trờ về" style="min-width: 70px;">
              <input type="submit" class="btn btn-primary" [disabled]="!(customerForm.valid && checkUpLoad)" value="Thêm" style="min-width: 70px;">
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

