<!--HEADER-->
<nav class="navbar navbar-light navbar-expand-md bg-light justify-content-center">
  <div class="container">
    <a class="navbar-brand ml-2" href="#"><span><img
      src="./assets/image/client-page-image/logopharma.png" height="80" width="115"/></span></a>
    <div class="navbar-collapse navbar-toggle collapse w-100" id="collapsingNavbar3">
      <ul class="navbar-nav w-100 ml-lg-5 justify-content-center">
        <div class="w-100">
          <div class="search-box w-100 ml-lg-5">
            <input id="searchInput" [(ngModel)]="search"  type="text" class="search-term" placeholder="Tìm kiếm ...">
            <button type="submit" id="searchButton" class="search-button" routerLinkActive="active" [routerLink]="['search',search]">
              <i class="fa fa-search text-white"></i>
            </button>
          </div>
        </div>
      </ul>
      <ul class="nav navbar-nav w-100 justify-content-end ">
        <li class="nav-item">
          <a class="nav-link" routerLink="/cart" routerLinkActive="active"><span>GIỎ HÀNG<i class="fa fa-shopping-cart fa-2x"
                                                        style="color: #000000"></i></span><span
            class="item-in-cart">0</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">
            <button class="btn login-button">ĐĂNG NHẬP</button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark header-colored pb-2">
  <div class="container">
    <a class="navbar-brand ml-2" href="#"><span>TRANG CHỦ</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-toggle"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse navbar-toggle collapse w-100" id="collapsingNavbar1">
      <ul class="navbar-nav w-100 ml-lg-5 justify-content-center">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active px-lg-4" href="#" id="navbarDropdownMenuLink"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            SẢN PHẨM
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <div *ngFor="let drugGroup of drugGroups">
            <a class="dropdown-item" href="#" style="text-transform: uppercase">THUỐC {{drugGroup.drugGroupName}}</a>
            </div>
          </div>
        </li>
        <li>
          <a class="nav-item nav-link mr-2 active " href="#">SỐNG KHỎE</a>
        </li>
        <li>
          <a class="nav-item nav-link  active" href="#"><span class="neon-text fa fa-bolt"
                                                              style="color: yellow"></span>️
            DEAL HOT THÁNG 8</a>
        </li>
      </ul>
      <ul class="nav navbar-nav w-100 justify-content-end ">
        <li class="nav-item">
          <a class="nav-item nav-link border-right-nav-item active " href="#">HỆ THỐNG NHÀ THUỐC</a>
        </li>
        <li class="nav-item dropdown">

          <a class="nav-link dropdown-toggle active " href="#" id="navbarDropdownMenuLink1"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            HOTLINE
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
            <a class="dropdown-item" href="#">18002001 CSKH</a>
            <a class="dropdown-item" href="#">18006821 ĐẶT HÀNG</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--</header>-->

