<div class="container ">
  <form>
    <div class="">
      <div class="container" style="background: #567FEA;height: 50px"><h2
        style="text-align: center;line-height: 50px">THÔNG TIN CHI TIẾT </h2>
      </div>
      <div class="row mt-5">
        <label class="label-text col-3 ">Mã nhà cung cấp</label>
        <div class="col-9">
          <input disabled class="form-control m-0" type="text">

        </div>
      </div>

      <div class="row mb-3 mt-3">
        <label class="label-text col-3">Mã hóa đơn</label>
        <div class="col-9">
          <input disabled class="form-control" type="text">

        </div>
      </div>
      <div class="row mb-3 mt-3">
        <label class="label-text col-3">Số chứng từ</label>
        <div class="col-9">
          <input disabled class="form-control" type="text">

        </div>
      </div>
      <div class="row mb-3 mt-3">
        <label class="label-text col-3">Ngày lập</label>
        <div class="col-9">
          <input disabled class="form-control" type="text">

        </div>
      </div>
      <div class="row mb-3 mt-3">
        <label class="label-text col-3">Giờ lập</label>
        <div class="col-9">
          <input disabled class="form-control" type="text">

        </div>
      </div>
      <div class="row mb-3 mt-3">
        <label class="label-text col-3">Tổng tiền</label>
        <div class="col-9">
          <input disabled class="form-control" type="text">

        </div>
      </div>
      <div class="row mb-3 mt-3">
        <label class="label-text col-3">Nợ hóa đơn</label>
        <div class="col-9">
          <input disabled class="form-control" type="text">

        </div>
      </div>
    </div>

  </form>
</div>
<div class="modal-footer">
  <button mat-dialog-close="" style="background: #567FEA" type="button" class="btn ve" data-dismiss="modal"><i class="icon-sidebar fa fa-reply"></i>
    Trở về
  </button>
</div>

