<div class="container mt-3">

  <div class="modal-body">
    <div class="container" style="background: #567FEA;height: 50px"><h2
      style="text-align: center;line-height: 50px">CHỈNH SỬA NHÀ CUNG CẤP</h2>
    </div>
    <fieldset class="scheduler-border">
      <legend class="scheduler-border">Thông tin chi tiết</legend>
      <form>
        <div class="row">
          <label class="label-text col-2 ">Mã nhà cung cấp</label>
          <div class="col-3">
            <input value="Vinamed" disabled class="form-control " type="text">
          </div>
          <label class="label-text col">Tên nhà cung cấp</label>
          <div class="col-5">
            <input value="Công ty Vinamed" disabled class="form-control" type="text">
          </div>
        </div>
        <div class="row mt-3">
          <label class="label-text col-2 ">Số điện thoại</label>
          <div class="col-3">
            <input value="0891361699" disabled class="form-control " type="text">
          </div>
          <label class="label-text col">Địa chỉ</label>
          <div class="col-5">
            <input value="Hai Bà Trưng, Hà Nội" disabled class="form-control" type="text">
          </div>
        </div>
        <div class="row mt-3">
          <label class="label-text col-2 ">Công nợ</label>
          <div class="col-3">
            <input value="1200000" disabled class="form-control " type="text">
          </div>
          <label class="label-text col">Ghi chú</label>
          <div class="col-5">
            <input disabled class="form-control" type="text">
          </div>
        </div>
        <div class="row mt-3">

          <label class="label-text col-lg-2">Email</label>
          <div class="col-lg-10">
            <input value="Vinamed@gmail.com" disabled class="form-control" type="text">
          </div>
        </div>

      </form>
    </fieldset>


    <fieldset class="scheduler-border">
      <legend class="scheduler-border">Bộ lọc</legend>
      <form class=" p-3">

        <div class="row">

          <label for="startDate" class="col-lg-2">Từ ngày</label>
          <input id="startDate" class="col-lg-3" style="height: 30px;width: 130px"
                 type="date"
                 placeholder="Tên nhà...">


          <label for="endDate" class="col-lg-2 ">Đến ngày</label>
          <input id="endDate" class="col-lg-3" style="height: 30px;width: 130px"
                 type="date"
                 placeholder="Tên nhà...">

        </div >
        <div class="row mt-3">
          <label for="startTime" class=" col-lg-2">Từ giờ</label>
          <input id="startTime" class=" col-lg-3" style="height: 30px;width: 130px" type="time"
                 placeholder="Tên nhà...">
          <label for="endTime" class=" col-lg-2 ">Đến giờ</label>
          <input id="endTime" class="col-lg-3" style="height: 30px;width: 130px" type="time"
                 placeholder="Tên nhà...">

          <div class="col-lg-2"><button style="height: 30px"  class="   btn ve " type="button"><i class="fa fa-search"
                                                                                                  aria-hidden="true"></i>
            Tìm kiếm
          </button></div>


        </div>

      </form>
    </fieldset>
  </div>

  <div class="container pb-3">
    <fieldset class="scheduler-border">
      <legend class="scheduler-border">Danh sánh</legend>
      <table class="table table-bordered table-striped  ">
        <thead class="thead">
        <tr class="ve">

          <th>Mã hóa đơn</th>
          <th>Số chứng từ</th>
          <th>Ngày lập</th>
          <th>Giờ lập</th>
          <th>Tổng tiền</th>
          <th>Nợ hóa đơn</th>


        </tr>
        </thead>

        <tbody >

        <tr  id="btn1">
          <td>HDN001</td>
          <td class="ct">352121</td>
          <td class="ct" class="ct">12/12/2000</td>
          <td class="ct">07:00</td>
          <td class="ct">1200000</td>
          <td class="ct">120000</td>
        </tr>
        <tr  id="btn2">
          <td>HDN002</td>
          <td class="ct">352122</td>
          <td class="ct">12/12/2001</td>
          <td class="ct">07:00</td>
          <td class="ct">1200000</td>
          <td class="ct">1200000</td>
        </tr>
        <tr  id="btn3">
          <td>HDN003</td>
          <td class="ct">352121</td>
          <td class="ct">12/12/2002</td>
          <td class="ct">07:00</td>
          <td class="ct">1200000</td>
          <td class="ct">120000</td>
        </tr>
        <tr  id="btn4">
          <td>HDN004</td>
          <td class="ct">352111</td>
          <td class="ct">12/12/2003</td>
          <td class="ct">07:00</td>
          <td class="ct">1200000</td>
          <td class="ct">120000</td>
        </tr>
        <tr  id="btn5">
          <td>HDN005</td>
          <td class="ct">352188</td>
          <td class="ct">12/12/2004</td>
          <td class="ct">07:00</td>
          <td class="ct">1200000</td>
          <td class="ct">12000</td>
        </tr>
        <tr  id="btn6">
          <td>HDN006</td>
          <td class="ct">352199</td>
          <td class="ct">12/12/2005</td>
          <td class="ct">07:00</td>
          <td class="ct">1200000</td>
          <td class="ct">12000</td>
        </tr>






        </tbody>
      </table>
      <div class="d-flex justify-content-end">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>

    </fieldset>

    <div class="container-fluid mt-3">
      <div class="row">
        <button (click)="dialogShow()" class="col-3 a btn btn-info" ><i
          class="fa fa-window-restore" aria-hidden="true"></i> Thông tin
          chi tiết
        </button>
        <div
          class="col-lg-7"></div>
        <div class="col-lg-2 text-right">
          <a  >
            <button routerLink="/manufacturer/list" type="button" class="btn ve" data-dismiss="modal"><i class="icon-sidebar fa fa-reply "></i>
              Trở về
            </button>
          </a>

        </div>
      </div>

    </div>
  </div>
</div>
