
  <div class="row white-block"></div>

  <div class="row">
    <div class="col-md-12" style="text-align: center">
      <h2 class="pt-3">Quản lý nhập kho</h2>
    </div>
  </div>


  <div class="row justify-content-center">
    <form action="" method="post">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <fieldset class="scheduler-border">
            <legend class="scheduler-border">Bộ lọc</legend>
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="form-group d-flex">
                  <label>Từ ngày:</label>
                  <input type="date">
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="form-group d-flex">
                  <label>Đến ngày:</label>
                  <input type="date">
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 ">
                <div class="form-group d-flex">
                  <label>Từ giờ:</label>
                  <input type="time">
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="form-group d-flex ">
                  <label>Đến giờ:</label>
                  <input type="time">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-10">
                <div class="form-group ">
                  <label>Sắp xếp theo:</label>
                  <select name="" class="width">
                    <option value="">Ngày lập</option>
                    <option value="">Mã HĐ</option>
                    <option value="">Số CT</option>
                    <option value="">Giờ lập</option>
                    <option value="">Tổng tiền</option>
                    <option value="">Nợ hóa đơn</option>
                    <option value="">Nhà cung cấp</option>
                  </select>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-2">
                <button data-toggle="modal" data-target="#exampleModal"
                        class="mr-4 btn btn-create button btw"
                        type="button"><i class="fa fa-search" aria-hidden="true"></i>Xem
                </button>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
      <fieldset class="scheduler-border">
        <legend class="scheduler-border">Danh sách hóa đơn</legend>
        <div class="scroll outer">
          <table class="table table-bordered table-striped table- table-hover">
            <thead class="head justify-content-center">
            <tr>
              <th>Mã HĐ</th>
              <th>Số CT</th>
              <th>Ngày lập</th>
              <th>Giờ lập</th>
              <th>Tổng tiền(VND)</th>
              <th>Nợ hóa đơn(VND)</th>
              <th>Nhà cung cấp</th>
              <th>Địa chỉ</th>
            </tr>
            </thead>
            <tbody>
            <tr id="btn1">
              <td>HT001</td>
              <td>092849</td>
              <td>20/01/2015</td>
              <td>07:45:25</td>
              <td>50.000</td>
              <td>32.000</td>
              <td>Công ty Dược phẩm Omega3</td>
              <td>10 Nguyễn Đống ĐA</td>
            </tr>
            <tr id="btn2">
              <td>HT002</td>
              <td>012452</td>
              <td>21/01/2016</td>
              <td>07:50:15</td>
              <td>50.000</td>
              <td>32.000</td>
              <td>Công ty TNHH TLinh</td>
              <td>123 Lê Duẫn</td>
            </tr>
            <tr id="btn3">
              <td>HT003</td>
              <td>462134</td>
              <td>29/05/2016</td>
              <td>08:40:30</td>
              <td>60.000</td>
              <td>32.000</td>
              <td>Công ty Dược phẩm TTR</td>
              <td>10 Ngô Quyền</td>
            </tr>
            <tr id="btn4">
              <td>HT004</td>
              <td>754324</td>
              <td>20/06/2016</td>
              <td>09:12:25</td>
              <td>70.000</td>
              <td>12.000</td>
              <td>Công ty Dược phẩm TN</td>
              <td>104 Nguyễn Hoàng Phong</td>
            </tr>

            <tr id="btn5">
              <td>HT004</td>
              <td>092849</td>
              <td>20/01/2015</td>
              <td>11:45:50</td>
              <td>50.000</td>
              <td>32.000</td>
              <td>Công ty Dược phẩm TH</td>
              <td>Quận 1 HCM</td>
            </tr>
            <tr id="btn6">
              <td>HT005</td>
              <td>092849</td>
              <td>20/01/2015</td>
              <td>17:45:25</td>
              <td>50.000</td>
              <td>32.000</td>
              <td>Công ty Dược phẩm HD</td>
              <td>10 Nguyễn Đống ĐA</td>
            </tr>
            <tr id="btn7">
              <td>HT006</td>
              <td>092849</td>
              <td>20/01/2015</td>
              <td>07:45:25</td>
              <td>50.000</td>
              <td>32.000</td>
              <td>Công ty Dược phẩm Hoa sen</td>
              <td>10 Nguyễn Đống ĐA</td>
            </tr>
            <tr id="btn8">
              <td>HT007</td>
              <td>092849</td>
              <td>20/01/2015</td>
              <td>07:45:25</td>
              <td>50.000</td>
              <td>32.000</td>
              <td>Công ty Dược phẩm Omega3</td>
              <td>10 Nguyễn Đống ĐA</td>
            </tr>
            </tbody>
          </table>
        </div>
      </fieldset>

      <div class="d-flex justify-content-end mx-4">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">lùi lại</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">tiếp theo</a></li>
          </ul>
        </nav>
      </div>
      <div class="form-group row text-right pt-2">
        <div class="col">
          <button data-toggle="modal" data-target="#exampleModal"
                  class="mx-4 btn btn-create button"
                  type="button"><i class="fa fa-plus"></i>Thêm
          </button>
          <button data-toggle="modal" data-target="#exampleModal1"
                  class="mx-4 btn btn-danger button"
                  type="button">
            <i class="fa fa-trash-o"></i>Xóa
          </button>
          <button data-toggle="modal" data-target="#exampleModal2"
                  class="mx-4 btn btn-return button"
                  type="button"><i
            class="icon-sidebar fa fa-reply text-warning"></i> Trở về
          </button>
        </div>
      </div>
    </form>
  </div>

