<div class="container pb-3">
  <table id="tb1" class="table table-bordered table-striped">
    <thead class="thead">
    <tr>
      <th class="text-center">Tên thuốc</th>
      <th>Đơn vị tính</th>
      <th>Số lượng</th>
      <th>Đơn giá</th>
      <th>%CK</th>
      <th>VAT</th>
      <th>Thành tiền (VNĐ)</th>
      <th>Số lô</th>
      <th>Hạn dùng</th>

    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <select class="form-control select2" (change)="choiceDrug($event.target)">
          <option value="0"> CHọn thuốc</option>
          <option *ngFor="let drug of drugs" value="{{drug.drugId}}"> {{drug.drugName}}</option>
        </select>
      </td>
    </tr>
    <ng-container [formGroup]="form">
      <ng-container formArrayName="formArrayDrugs">
        <tr class="onRow" *ngFor="let importBilDurg of formArrayDrugs.controls; let i = index"
            (click)="clickDelete($event)" [id]="i" (input)="totalMoneyCalculation()">
          <ng-container [formGroupName]="i"  *ngIf="showList(i)">
            <td>{{importBilDurg.value.drug.drugName}}</td>
            <td>{{importBilDurg.value.drug.conversionUnit}}</td>
            <td class="px-1"><input class="form-control-sm text-right" type="number" formControlName="importAmount">
            </td>
            <td class="px-1"><input class="form-control-sm text-right money" type="number"
                                    formControlName="importPrice">
            </td>
            <td class="px-1"><input class="form-control-sm text-right" type="text" maxlength="3" formControlName="discountRate">
            </td>
            <td class="px-1"><input class="form-control-sm text-right" type="number" formControlName="vat"></td>
            <td class="px-1">
              <input readonly class="form-control-sm text-right total-money" type="number"
                     value="{{(importBilDurg.value.importPrice * importBilDurg.value.importAmount)*(100 - importBilDurg.value.discountRate)*(100 + importBilDurg.value.vat) / 100 }}">
            </td>
            <td class="px-1"><input class="form-control-sm text-right lot-num" type="text" formControlName="lotNumber"></td>
            <td class="px-1"><input class="form-control-sm text-right w-100" type="date" formControlName="expiry"></td>
          </ng-container>
        </tr>
      </ng-container>
    </ng-container>
    </tbody>
  </table>

  <div class="d-flex justify-content-end mx-4">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" (click)="previousPage()">Trang trước</a></li>
        <li class="page-item"><a class="page-link">{{indexPagination}}</a></li>
        <li class="page-item"><a class="page-link" >/</a></li>
        <li class="page-item"><a class="page-link">{{totalPagination}}</a></li>
        <li class="page-item"><a class="page-link" (click)="nextPage()">Trang tiếp</a></li>
      </ul>
    </nav>
  </div>
</div>

