<app-header-client></app-header-client>
<div class="container">
  <h3>
    <span>Giỏ hàng</span> > <a href="#">Thanh toán</a> > Hoàn tất
  </h3>
  <small class="pl-5 text-primary text-sm-center">Thanh toán thành công</small>
  <small class="text-danger text-sm-center">(Mã phiếu ưu đãi không tồn tại)</small>
  <div id="main">
    <div id="left">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Sản phẩm</th>
          <th scope="col">Giá</th>
          <th scope="col">Số lượng</th>
          <th scope="col">Tổng tiền</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="d-flex">
            <a href="#"><i class="fa fa-times bi" aria-hidden="true"></i></a>
            <img src="image/thuoc1.jpg" alt=""
                 width="70px"
                 height="70px">

            <div>
              <a href="#">Tăm bông kháng khuẩn đầu xoán Sakura(Lọ 200 que giấy)</a>
            </div>
          </td>
          <td>44,000</td>
          <td>
            <div>
              <input type="button" value="-">
              <input type="text" value="20">
              <input type="button" value="+">
            </div>
          </td>
          <td>880,000</td>
        </tr>
        <tr>
          <td class="d-flex">
            <a href="#"><i class="fa fa-times bi" aria-hidden="true"></i></a>
            <img src="image/thuoc2.jpg" alt=""
                 width="70px"
                 height="70px">

            <div>
              <a href="#">Dầu gió xanh Thiên Thảo (Chai12ml)</a>
            </div>
          </td>
          <td>19,500</td>
          <td>
            <div>
              <input type="button" value="-">
              <input type="text" value="10">
              <input type="button" value="+">
            </div>
          </td>
          <td>195,000</td>
        </tr>
        <tr>
          <td class="d-flex">
            <a href="#"><i class="fa fa-times bi" aria-hidden="true"></i></a>
            <img src="image/thuoc3.jpg" alt="" width="70px"
                 height="70px">

            <div>
              <a href="#">Fugacar Mebendazole (500mg)</a>
            </div>
          </td>
          <td>19,000</td>
          <td>
            <div>
              <input type="button" value="-">
              <input type="text" value="5">
              <input type="button" value="+">
            </div>
          </td>
          <td>95,000</td>
        </tr>
        <tr>
          <td colspan="4">
            <a href="#" class="btn btn-outline-primary">TIẾP TỤC XEM SẢN PHẨM</a>
            <a href="#" class="btn btn-primary">CẬP NHẬT GIỎ HÀNG</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div id="right">
      <table class="table">
        <thead>
        <tr>
          <th>
            <div>Tổng số lượng</div>
            <div>35</div>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <div>Tạm tính</div>
            <div>1,170,000 VND</div>
          </td>
        </tr>
        <tr>
          <td>
            <div>Phí vận chuyển</div>
            <div>30,000 VND </div>
          </td>
        </tr>
        <tr>
          <td>
            <div>Tổng tiền</div>
            <div>1,140,000 VND</div>
          </td>
        </tr>
        <tr>
          <td>
            <div>Thanh toán Paypal</div>
            <div>$49,56</div>
          </td>
        </tr>
        </tbody>
      </table>
      <a href="#" class="btn btn-warning">Tiến hành thanh toán</a>
      <table class="table">
        <thead>
        <tr>
          <th><i class="bi bi-tag"></i> Phiếu ưu đãi</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><input type="text" placeholder="Mã ưu đãi" class="form-control"></td>
        </tr>
        <tr>
          <td><a href="#" class="btn btn-primary">Áp dụng</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-footer-client></app-footer-client>