<div class="row">
  <div class="col-md-12 col-sm-12 col-lg-9 ">
    <fieldset class="scheduler-border">
      <legend class="scheduler-border">Thông tin hóa đơn</legend>
      <app-warehouse-import-invoice-information></app-warehouse-import-invoice-information>
    </fieldset>
  </div>
  <div class="col-md-12 col-sm-12 col-lg-3 ">
    <fieldset class="scheduler-border ">
      <legend class="scheduler-border">Thanh toán</legend>
      <app-warehouse-import-payment></app-warehouse-import-payment>
    </fieldset>
  </div>
</div>
<fieldset class="scheduler-border ">
  <legend class="scheduler-border">Thanh toán</legend>
  <app-warehouse-import-drug-list></app-warehouse-import-drug-list>

</fieldset>
