<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-lg-9 ">
      <fieldset class="scheduler-border">
        <legend class="scheduler-border">Thông tin hóa đơn</legend>
        <div class="row">
          <div class="col-xl-8 col-md-12 col-sm-12">
            <div class="mb-3 position-relative">
              <div class="w-100 d-inline-flex">
                <label class="col-3 pl-0">Mã nhà cung cấp</label>
                <select class="border-dark border-2 col-8  form-control-sm d-inline-block"
                        (change)="choiceManufacturer($event)">
                  <option *ngFor=" let manufacturer of manufacturers "
                          [value]="manufacturer.manufacturerId">{{manufacturer.manufacturerName}} </option>
                </select>
                <div class="col-1  pl-1 pr-0">
                  <button data-toggle="modal" data-target="#addNewSupplier"
                          type="button"
                          class="btn-info w-100" (click)="openDialog()"><i class="fa fa-plus"
                                                                           aria-hidden="true"></i>
                  </button>
                </div>
              </div>
              <small class="d-block position-absolute text-danger">dòng này để bung
                lỗi </small>
            </div>
            <div class="mb-3">
              <div class="w-100 d-inline-flex">
                <label class="col-3 pl-0">Tên nhà cung cấp</label>
                <input class="form-control-sm border-dark w-100" type="text"
                       [value]="manufacturerForm.value.manufacturerName !== undefined ? manufacturerForm.value.manufacturerName : ''">
              </div>

            </div>
            <div class="mb-3">
              <div class="w-100 d-inline-flex">
                <label class="col-3 pl-0">Địa chỉ</label>
                <input class="form-control-sm border-dark w-100" type="text"
                       [value]="manufacturerForm.value.manufacturerAddress !== undefined ? manufacturerForm.value.manufacturerAddress : ''">
              </div>

            </div>
            <div class="mb-3">
              <div class="w-100 d-inline-flex">
                <label class="col-3 pl-0">Ghi chú</label>
                <textarea class="form-control border-dark border-2"
                          id="exampleFormControlTextarea1" rows="3"
                          [value]="manufacturerForm.value.manufacturerNote !== undefined ? manufacturerForm.value.manufacturerNote : ''"></textarea>
              </div>

            </div>
          </div>
          <div class="col-xl-4 col-md-12 col-sm-12">
            <div class="mb-3">
              <div class="w-100 d-inline-flex">
                <label class="col-xl-4 col-3 px-0">Số HĐ</label>
                <input type="text" readonly
                       class="form-control-sm text-secondary w-100"
                       placeholder="HD123123" formControlName="importSystemCode">
              </div>

            </div>
            <div class="mb-3">
              <div class="w-100 d-inline-flex">
                <label class="col-xl-4 col-3 px-0">Số CT</label>
                <input type="text" class="form-control-sm w-100 "
                       placeholder="" formControlName="accountingVoucher">
              </div>

            </div>
            <div class="mb-3 position-relative">
              <div class="w-100 d-inline-flex">
                <label class="col-xl-4 col-3 px-0">Ngày lập</label>
                <div class="col-xl-8 col-12 px-0 d-flex">
                  <input type="datetime-local" class="form-control-sm w-100" formControlName="invoiceDate">
                </div>
              </div>
            </div>
            <div class="mb-3">
              <div class="w-100 d-inline-flex">
                <label class="col-xl-4 col-3 px-0">Nhân viên</label>
                <input type="text" class="form-control-sm text-secondary w-100"
                       placeholder="" [value]="employee.employeeName">
              </div>

            </div>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="col-md-12 col-sm-12 col-lg-3 " formGroupName="payment">
      <fieldset class="scheduler-border ">
        <legend class="scheduler-border">Thanh toán</legend>
        <div class="mb-3">
          <div class="w-100 d-inline-flex">
            <label class="col-6 pl-0">Tiền thuốc</label>
            <input class="form-control-sm border-dark w-100" type="text" [value]="drugMoney">
          </div>
        </div>
        <div class="mb-3">
          <div class="w-100 d-inline-flex">
            <label class="col-6 pl-0">%Chiết khấu</label>
            <input formControlName="discount" (keyup)="chargeTotalMoney()" class="form-control-sm border-dark w-100"
                   type="text">
          </div>
        </div>
        <div class="mb-3">
          <div class="w-100 d-inline-flex">
            <label class="col-6 pl-0">Tổng tiền</label>
            <input formControlName="totalMoney" [value]="totalMoney.value" class="form-control-sm border-dark w-100"
                   type="text">
          </div>
        </div>
        <div class="mb-3">
          <div class="w-100 d-inline-flex">
            <label class="col-6 pl-0">Thanh toán</label>
            <input formControlName="prepayment" class="form-control-sm border-dark w-100" type="text">
          </div>
        </div>
        <div class="mb-4">
          <div class="w-100 d-inline-flex">
            <label class="col-6 pl-0">Còn lại</label>
            <input class="form-control-sm border-dark w-100" type="text">
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  <fieldset class="scheduler-border ">
    <legend class="scheduler-border">Danh sách thuốc</legend>
    <app-warehouse-import-drug-list (sendTotal)="passTotalMonney($event)"></app-warehouse-import-drug-list>
    <div class="container d-flex justify-content-end pt-4 pb-5">
      <button class="mr-4 btn btn-primary button"
              type="submit" (click)="submit()"><i class="fa fa-plus" aria-hidden="true"></i> Hoàn tất
      </button>
      <button class="mr-4 btn btn-danger" id="delete" type="button" (click)="confirmBox()"><i
        class="fa fa-times-circle-o"
        aria-hidden="true"></i> Xóa
        thuốc
      </button>
      <button class="mr-4 btn btn-return button" type="button"><i class="fa fa-arrow-circle-o-left"
                                                                  aria-hidden="true"></i>
        Trở về
      </button>


    </div>

  </fieldset>
</form>
