<div class="modal-header">
  <h3 class="modal-title font-weight-bold" *ngIf="selected">Xóa và sửa thuốc</h3>
  <h3 class="modal-title font-weight-bold" *ngIf="notFound">Không thể tìm kiếm</h3>
  <button type="button" class="close" aria-hidden="true" (click)="onNoClick()">&times;</button>
</div>
<div class="modal-body">
  <p class="text-danger font-weight-bold">Chưa chọn thuốc</p>
  <p class="text-warning"><small>Vui lòng chọn thuốc để Xóa hoặc Sửa</small></p>
</div>
<div class="modal-footer">
  <button class=" btn btn-return button " style="font-size: 14px; width: 85px" type="button" (click)="onNoClick()"><i
    class="fa fa-reply"></i> Trở về
  </button>
</div>
