<div>
  <div class="container my-3">
    <div class="container my-3" style="background: #567FEA;height: 50px">
      <h2 class="text-center" style="line-height: 50px">Bán hàng</h2></div>
    <fieldset class="scheduler-border">
      <legend class="scheduler-border">Khách hoàn trả</legend>
      <form class="border p-3">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 my-2">
              <div class="row">
                <label for="inputSearchBill" class="label-text">Tìm hóa đơn<i class="text-danger">*</i> &nbsp;</label>
                <input type="text" [(ngModel)]="inputSearch" [ngModelOptions]="{standalone: true}"
                       placeholder="HDD00001" id="inputSearchBill">
                <button (click)="searchBillSale()" class=" ml-2 btn a ve"><i class="fa fa-search"
                                                                             aria-hidden="true"></i>
                  Kiểm tra
                </button>
              </div>
              <div class="row mt-3">
                <label for="inputNote" class="label-text">Ghi chú</label>
                <textarea type="text" *ngIf="billSale != null" value="{{billSale.billSaleNote}}" id="inputNote"
                          class="height85px a" placeholder="Note..."></textarea>
              </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5 my-2">
              <div class="row">
                <label class="label-text">Nhân viên</label>
                <input type="text" readonly *ngIf="billSale != null" [value]="billSale.employee.employeeName">
              </div>
              <div class="row mt-3">
                <label class="label-text">Ngày lập</label>
                <input type="date" readonly *ngIf="billSale != null" value="{{billSale.invoiceDate}}">
              </div>
              <div class="row mt-3">
                <label class="label-text">Loại hóa đơn</label>
                <input type="text" readonly *ngIf="billSale != null" value="{{billSale.billSaleType}}"
                       placeholder="loại hóa đơn">
              </div>
              <div class="row mt-3">
                <label class="label-text">Khách hàng</label>
                <input type="text" readonly *ngIf="billSale != null" value="{{billSale.customer.customerName}}">
              </div>
            </div>
          </div>
        </div>
      </form>
    </fieldset>
  </div>

  <div class="container pb-3">
    <fieldset class="scheduler-border">
      <legend class="scheduler-border">Danh sánh thuốc</legend>
      <div>
        <table class="table table-bordered table-striped">
          <thead class="thead">
          <tr class="ve">
            <th>Tên thuốc</th>
            <th>Đơn vị tính</th>
            <th>Số lượng</th>
            <th>Đơn giá</th>
            <th>Thành tiền</th>
          </tr>
          </thead>
          <tbody *ngFor="let drugOfBill of drugOfBillList , let i = index">
          <tr id="{{i}}" (click)="send(drugOfBill,i)" (click)="getID(drugOfBill.drugOfBillId)"
              [style]="{background: i == this.idSelect ? '#63B8FF' : null}">
            <td *ngIf="drugOfBillList != null">{{drugOfBill.drug.drugName}}</td>
            <td *ngIf="drugOfBillList != null">{{drugOfBill.drug.unit}}</td>
            <td *ngIf="drugOfBillList != null">{{drugOfBill.quantity}}</td>
            <td *ngIf="drugOfBillList != null">{{drugOfBill.drug.wholesalePrice.toLocaleString('it-IT', {
              style: 'currency',
              currency: 'VND'
            })}}</td>
            <td *ngIf="drugOfBillList != null">{{(drugOfBill.drug.wholesalePrice * drugOfBill.quantity).toLocaleString('it-IT', {
              style: 'currency',
              currency: 'VND'
            })}}</td>
          </tr>
          </tbody>

        </table>
      </div>
      <div class="d-flex justify-content-end mt-3">
        <label class="mr-3">Tổng tiền </label>
        <input type="text" [(ngModel)]="total" value="{{total | currency:'VND'}}">
      </div>
    </fieldset>
    <div class="mt-3">
      <div class="row">
        <div class="col-12 text-right">
          <button class="btn btn-pay mx-2" (click)="payment()"><i class="fa fa-plus-circle" aria-hidden="true"></i>
            Thanh toán
          </button>
          <button type="button" (click)="dialogDelete()" class="btn-delete btn btn-danger mx-2" data-toggle="modal"
                  data-target="#exampleModal1"><i
            class="fa fa-trash-o" aria-hidden="true"></i> Xóa thuốc
          </button>
          <button class="btn-print mx-2 btn" data-toggle="modal" data-target="#exampleModal"  printSectionId="printDemo" ngxPrint>
            <i class="fa fa-print" aria-hidden="true"></i>
            In phiếu
          </button>
          <button class="btn ve ml-2" routerLink="/" type="button">
            <i class="icon-sidebar fa fa-reply"></i>
            Trở về
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="printDemo" hidden>
  <div id="page" class="page">
    <div class="header">
      <div class="company">C.Ty TNHH C0221G1</div>
    </div>
    <br/>
    <div class="title">
      HÓA ĐƠN BÁN HÀNG
      <br/>
      -------oOo-------
    </div>
<!--      Số phiếu: <label>{{billSale.billSaleCode}}{{billSale.billSaleId}}</label><br>-->
<!--      Ngày lập: <label>{{billSale.invoiceDate}}</label>-->
<!--    </div>-->
<!--    <br/>-->
<!--    <br/>-->
<!--    <p>Đơn Mua</p>-->
    <table class="table">
      <tr>
        <th class="text-center">Tên thuốc</th>
        <th class="text-center">Đơn vị tính</th>
        <th class="text-center">Số lượng</th>
        <th class="text-center">Đơn giá</th>
        <th class="text-center">Thành tiền</th>
      </tr>
<!--      <tbody *ngFor="let drugOfBill of drugOfBillList , let ix = index">-->
<!--      <tr id="{{ix}}">-->
<!--        <td >{{drugOfBill.drug.drugName}}</td>-->
<!--        <td>{{drugOfBill.drug.unit}}</td>-->
<!--        <td>{{drugOfBill.quantity}}</td>-->
<!--        <td>{{drugOfBill.drug.wholesaleProfitRate.toLocaleString('it-IT', {-->
<!--          style: 'currency',-->
<!--          currency: 'VND'-->
<!--        })}}</td>-->
<!--        <td>{{(drugOfBill.drug.wholesaleProfitRate * drugOfBill.quantity).toLocaleString('it-IT', {-->
<!--          style: 'currency',-->
<!--          currency: 'VND'-->
<!--        })}}</td>-->
<!--      </tr>-->
<!--      </tbody>-->
<!--      <tr>-->
<!--        <td colspan="4" class="tong">Tổng cộng</td>-->
<!--        <td class="cotSo">{{total | currency : 'VND'}}</td>-->
<!--      </tr>-->
    </table>
    <div class="footer-left"> CodeGym, ngày .... tháng .... năm ....<br/>
      Khách hàng </div>
    <div class="footer-right"> CodeGym, ngày .... tháng .... năm ....<br/>
      Nhân viên </div>
  </div>
</div>
