<div class="row">
  <div class="col-xl-8 col-md-12 col-sm-12">
    <div class="mb-3 position-relative">
      <div class="w-100 d-inline-flex">
        <label class="col-3 pl-0">Mã nhà cung cấp</label>
        <select class="border-dark border-2 col-8  form-control-sm d-inline-block">
          <option>Default select</option>
        </select>
        <div class="col-1  pl-1 pr-0">
          <button data-toggle="modal" data-target="#addNewSupplier"
                  type="button"
                  class="btn-info w-100"><i class="fa fa-plus"
                                            aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <small class="d-block position-absolute text-danger">dòng này để bung
        lỗi </small>
    </div>
    <div class="mb-3">
      <div class="w-100 d-inline-flex">
        <label class="col-3 pl-0">Tên nhà cung cấp</label>
        <input class="form-control-sm border-dark w-100" type="text"
               placeholder="Trần Đại Huy"><br>
      </div>

    </div>
    <div class="mb-3">
      <div class="w-100 d-inline-flex">
        <label class="col-3 pl-0">Địa chỉ</label>
        <input class="form-control-sm border-dark w-100" type="text">
      </div>

    </div>
    <div class="mb-3">
      <div class="w-100 d-inline-flex">
        <label class="col-3 pl-0">Ghi chú</label>
        <textarea class="form-control border-dark border-2"
                  id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>

    </div>
  </div>
  <div class="col-xl-4 col-md-12 col-sm-12">
    <div class="mb-3">
      <div class="w-100 d-inline-flex">
        <label class="col-xl-4 col-3 px-0">Số HĐ</label>
        <input type="text" readonly
               class="form-control-sm text-secondary w-100"
               placeholder="HD123123">
      </div>

    </div>
    <div class="mb-3">
      <div class="w-100 d-inline-flex">
        <label class="col-xl-4 col-3 px-0">Số CT</label>
        <input type="text" class="form-control-sm w-100 "
               placeholder="23123123">
      </div>

    </div>
    <div class="mb-3 position-relative">
      <div class="w-100 d-inline-flex">
        <label class="col-xl-4 col-3 px-0">Ngày lập</label>
        <input type="date" class="form-control-sm w-100">
      </div>
    </div>
    <div class="mb-3">
      <div class="w-100 d-inline-flex">
        <label class="col-xl-4 col-3 px-0">Nhân viên</label>
        <input type="text" class="form-control-sm text-secondary w-100"
               placeholder="Trần việt">
      </div>

    </div>
  </div>
</div>
