
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Quản lí hóa đơn</title>
  <!--  <link rel="stylesheet" href="./bootstrap/bootstrap-4.6.0-dist/css/bootstrap.min.css">-->
  <!--  <link rel="stylesheet" href="./font/themify-icons/themify-icons.css">-->
  <!--  <link rel="stylesheet" href="./main.css">-->
  <!--  <link rel="stylesheet" href="./font-awesome-4.7.0/css/font-awesome.min.css">-->
  <!--  <script src="bootstrap/jquery/jquery.js"></script>-->
  <!--  <script src="delete.js"></script>-->
</head>
<body>
<!--<div id="header" class="d-flex justify-content-between">-->
<!--  <div id="list">-->
<!--    <a href="#"><i class="fa fa-bars"></i></a>-->
<!--  </div>-->
<!--  <ul id="nav">-->
<!--    <li>-->
<!--      <a href="https://github.com/">Home</a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a href="">-->
<!--        Quản lý bán hàng-->
<!--        <i class="icon1 fa fa-caret-down ml-2"></i>-->
<!--      </a>-->
<!--      <ul class="subnav">-->
<!--        <li><a href="">Bán lẻ</a></li>-->
<!--        <li><a href="">Bán hàng</a></li>-->
<!--      </ul>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a href="">-->
<!--        Quản lý kho bãi-->
<!--        <i class="icon1 fa fa-caret-down ml-2"></i>-->
<!--      </a>-->
<!--      <ul class="subnav">-->
<!--        <li><a href="">Quản lý nhập kho</a></li>-->
<!--        <li><a href="">Quản lý xuất kho</a></li>-->
<!--        <li><a href="">Danh sách thuốc</a></li>-->
<!--      </ul>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a href="">-->
<!--        Quản lý thông tin-->
<!--        <i class="icon1 fa fa-caret-down ml-2"></i>-->
<!--      </a>-->
<!--      <ul class="subnav">-->
<!--        <li><a href="">Khách hàng</a></li>-->
<!--        <li><a href="">Nhà cung cấp</a></li>-->
<!--        <li><a href="">Nhân viên</a></li>-->
<!--        <li><a href="">Toa thuốc</a></li>-->
<!--      </ul>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a href="">-->
<!--        Tra cứu-->
<!--      </a>-->

<!--    </li>-->
<!--    <li>-->
<!--      <a href="" id="bao-cao">-->
<!--        Báo cáo-->
<!--        <i class="icon1 fa fa-caret-down ml-2"></i>-->
<!--      </a>-->
<!--      <ul class="subnav">-->
<!--        <li><a href="">Báo cáo</a></li>-->
<!--        <li><a href="">Biểu đồ Thống kê</a></li>-->
<!--      </ul>-->
<!--    </li>-->
<!--  </ul>-->
<!--  <div class="user d-flex">-->
<!--    <p id="user-name">Admin</p>-->
<!--    <img id="user-image" src="./image/user-image.jpg" alt="">-->
<!--  </div>-->
<!--</div>-->
<!--<div class="content mb-3">-->
<!--  <div class="row">-->
<!--    <div id="sidebar" class="col-2">-->
<!--      <div class="menu-sub d-flex justify-content-center mt-2 mb-2">-->
<!--        <h5>Chọn nhanh</h5>-->
<!--      </div>-->
<!--      <div>-->
<!--        <ul class="subnav-item">-->
<!--          <li class="border-top">-->
<!--            <i class="icon-sidebar fa fa-file-text-o text-light"></i>-->
<!--            <a href="">Báo cáo</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <i class="icon-sidebar fa fa-database"></i>-->
<!--            <a href="#">Nhập kho</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <i class="icon-sidebar fa fa-reply text-warning"></i>-->
<!--            <a href="#">Xuất hoàn trả</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <i class="icon-sidebar fa fa-times text-violet"></i>-->
<!--            <a href="#">Xuất hủy</a>-->
<!--          </li>-->
<!--          <li class="mt-3 border-top">-->
<!--            <i class="icon-sidebar fa fa-search text-light"></i>-->
<!--            <a href="">Tra cứu nhanh</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <i class="icon-sidebar fa fa-archive text-light"></i>-->
<!--            <a href="#">Hệ thống kho bãi</a>-->
<!--          </li>-->
<!--          <li class="mt-3 border-top">-->
<!--            <i class="icon-sidebar fa fa-clipboard"></i>-->
<!--            <a href="#">Nhật ký bán hàng</a>-->
<!--          </li>-->
<!--          <li class="mt-3 border-top">-->
<!--            <i class="icon-sidebar fa fa-sign-out text-warning "></i>-->
<!--            <a href="#">Đăng xuất</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 right-content ">-->
      <!--            <div class="row white-block"></div>-->

      <!--        nơi đổ dữ liệu router-outlet              -->

<!--      <div class="container pt3">-->
        <form class="p-3">
          <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-3 ">
              <div class="form-group" style="justify-content: flex-start">
                <label>Từ Ngày</label>
                <input type="date">
                <!--                                <p  style="color: red; font-size: 12px ;margin-left: 8px" class="text-center">ngày không được để trống</p>-->
              </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-3">
              <div class="form-group">
                <label>Đến ngày</label>
                <input type="date">
                <!--                                <p style="color: red; font-size: 12px ;margin-left: 20px" class="text-center">ngày không được để trống</p>-->
              </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-3">
              <div class="form-group">
                <label>Từ giờ </label>
                <input type="time" style="width: 162px">
                <!--                                <p style="color: red; font-size: 12px; margin-right: 25px" class="text-center">giờ không được để trống</p>-->
              </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-3">
              <div class="form-group">
                <label>Đến giờ</label>
                <input type="time" style="width: 162px">
                <!--                                <p style="color: red; font-size: 12px" class="text-center">giờ không được để trống</p>-->
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
              <div class="form-group" style="justify-content: flex-start">
                <label style="margin-right: 3px">Hiển thị</label>
                <select name="" id="">
                  <option value="" selected>Bán lẻ</option>
                  <option value="">Bán theo đơn</option>
                  <option value="">Bán sỉ</option>
                  <option value="">Khách hoàn trả</option>
                </select>
              </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
              <div class="form-group">
                <label style="margin-right: 10px">Sắp xếp</label>
                <select>
                  <option value="">Mã hóa đơn</option>
                  <option value="">Tên khách hàng</option>
                  <option value="">Ngày lập</option>
                  <option value="">Giờ lập</option>
                  <option value="">Người lập</option>
                  <option value="">Tổng tiền</option>
                  <option value="">Ghi chú</option>
                </select>
              </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-6">
              <div class="form-group d-flex justify-content-end">
                <button class="btn search " style="width: 162px ; margin-right: 30px">
                  <i class="fa fa-search"></i>
                  Xem
                </button>
              </div>
            </div>

          </div>
        </form>

<!--      </div>-->


      <div class="container pb-3">
        <div class="">
          <table class="table table-bordered overflow-auto table-striped" style="height: 300px">
            <thead class="thead">
            <tr>
              <th class="text-center">Mã hóa đơn</th>
              <th class="text-center">Tên khách hàng</th>
              <th class="text-center">Ngày lập</th>
              <th class="text-center">Giờ lập</th>
              <th class="text-center">Người lập</th>
              <th class="text-center">Tổng tiền</th>
              <th class="text-center">Ghi chú</th>

            </tr>
            </thead>
            <tbody>
            <tr role="button" id="btn1">
              <td>HDL00001</td>
              <td>Khách lẻ</td>
              <td>20/1/2015</td>
              <td>14:15:00</td>
              <td>Trần Văn An</td>
              <td>23000</td>
              <td></td>
            </tr>
            <tr role="button" id="btn2">
              <td>HDL00002</td>
              <td>Khách bán sỉ</td>
              <td>20/1/2015</td>
              <td>14:15:00</td>
              <td>Nguyễn Văn Bình</td>
              <td>220000</td>
              <td></td>
            </tr>
            <tr role="button" id="btn3">
              <td>HDL00003</td>
              <td>Khách theo đơn</td>
              <td>20/1/2015</td>
              <td>14:15:00</td>
              <td>Nguyễn Thị Nga</td>
              <td>23000</td>
              <td></td>
            </tr>
            <tr role="button" id="btn4">
              <td>HDL00004</td>
              <td>Khách hoàn trả</td>
              <td>20/1/2015</td>
              <td>14:15:00</td>
              <td>Lê Thị Tuyết</td>
              <td>60000</td>
              <td></td>
            </tr>
            <tr role="button" id="btn5">
              <td>HDL00005</td>
              <td>Khách lẻ</td>
              <td>20/1/2015</td>
              <td>14:15:00</td>
              <td>Nguyễn Hồng Nhung</td>
              <td>57000</td>
              <td></td>
            </tr>
            <tr role="button" id="btn6">
              <td>HDL00006</td>
              <td>Khách lẻ</td>
              <td>20/1/2015</td>
              <td>14:15:00</td>
              <td>Đinh Văn Chung</td>
              <td>40000</td>
              <td></td>
            </tr>
            <tr role="button" id="btn7">
              <td>HDL00007</td>
              <td>Khách lẻ</td>
              <td>20/1/2015</td>
              <td>14:15:00</td>
              <td>Đinh Văn Chung</td>
              <td>40000</td>
              <td></td>
            </tr>
            <tr role="button" id="btn8">
              <td>HDL00008</td>
              <td>Khách lẻ</td>
              <td>20/1/2015</td>
              <td>14:15:00</td>
              <td>Đinh Văn Chung</td>
              <td>40000</td>
              <td></td>
            </tr>

            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-end">
            <ul class="pagination" style="height: 30px">
              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </div>



      </div>

      <div class="d-flex justify-content-end pt-4 pb-5  ">
        <div class="row">
          <div class="form-group col-6 col-sm-6 col-md-3 col-lg-3">
            <button class="mr-5 btn btn-add" type="button"><i class="fa fa-plus"></i> Thêm</button>
          </div>
          <div class="form-group col-6 col-sm-6 col-md-3 col-lg-3">
            <button class="mr-5 btn btn-print" type="button" data-toggle="modal"
                    data-target="#exampleModal2"><i
              class="fa fa-print" aria-hidden="true"></i> In phiếu
            </button>
            <!--                        <p style="color: red; font-size: 12px; margin-left: 18px" >chưa chọn id </p>-->
          </div>
          <div class="form-group col-6 col-sm-6 col-md-3 col-lg-3">
            <button class="mr-5 btn btn-danger" type="button" data-toggle="modal"
                    data-target="#exampleModal"><i
              class="fa fa-trash-o"></i> Xóa
            </button>
            <!--                        <p style="color: red; font-size: 12px; margin-left: 18px" >chưa chọn id </p>-->
          </div>
          <div class="form-group col-6 col-sm-6 col-md-3 col-lg-3">
            <button class="mr-5 btn ve" type="button"><i class="fa fa-reply"></i> Trở về</button>
          </div>
        </div>


      </div>

<!--    </div>-->

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Xóa hóa đơn</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Xóa hóa đơn có Mã hoá đơn : HDL00001
          </div>
          <div class="modal-footer">
            <button type="button" class="btn ve" data-dismiss="modal"><i class="fa fa-reply"></i> Không
            </button>
            <button type="button" class="btn btn-danger "><i class="fa fa-trash-o"></i> Có</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal2 -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel2">Chi tiết hóa đơn</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Mã hoá đơn : HDL00001</p>
            <p>Tên khách hàng : Khách lẻ</p>
            <p>Ngày lập : 20/1/2015</p>
            <p>Giờ lập : 14:15:00</p>
            <p>Người lập : Trần Văn An</p>
            <p>Tổng tiền :23000</p>
            <p>Ghi chú :</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn ve" data-dismiss="modal"><i class="fa fa-reply "></i> Không
            </button>
            <button type="button" class="btn btn-print"><i class="fa fa-print" aria-hidden="true"></i> Có
            </button>
          </div>
        </div>

      </div>


    </div>
<!--  </div>-->

<!--</div>-->
<!--<div id="footer">-->
<!--  <div class="social-list">-->
<!--    <a class="mr-2" href=""><i class="icon-footer fa fa-facebook"></i></a>-->
<!--    <a class="ml-2" href=""><i class="icon-footer fa fa-google"></i></a>-->

<!--  </div>-->
<!--</div>-->
</body>
</html>




