<div class="container">
  <div class="container" style="background: #567FEA;height: 50px">
    <h2 style="text-align: center;line-height: 50px">Danh sách thuốc</h2></div>
  <fieldset class="scheduler-border">
    <legend class="scheduler-border">Bộ lọc</legend>
    <form class="border p-3">
      <div class="container">
        <div class="row">
          <div class="col-lg-1">Lọc theo</div>
          <div class="col-lg-3">
            <select class="form-control"
                    style="height: 30px; width: 200px;border-radius: 4px;border: 2px solid"
                    type="text">
              <option>Mã thuốc</option>
              <option>Nhóm thuốc</option>
              <option>Tên thuốc</option>
              <option>Hoạt chất</option>
              <option>Gía nhập</option>
              <option>Gía bán lẻ</option>
              <option>Gía bán sỉ</option>
            </select>
          </div>
          <div class="col-lg-3">
            <select class="form-control"
                    style="height: 30px; width: 200px;border-radius: 4px;border: 2px solid"
                    type="text">
              <option>- Điều kiện -</option>
              <option>Bằng</option>
              <option>Lớn hơn</option>
              <option>Lớn hơn bằng</option>
              <option>Nhỏ hơn bằng</option>
              <option>Khác</option>
              <option>Tất cả</option>
            </select>
          </div>
          <div class="col-lg-3">
            <input class="form-control"
                   style="height: 30px; width: 200px;border-radius: 4px;border: 2px solid"
                   type="text">
          </div>
          <div class="col-lg-2">
            <button style="height: 30px" class=" btn btn-search" type="button"><i
              class="fa fa-search" aria-hidden="true"></i> Lọc
              kết
              quả
            </button>
          </div>
        </div>
      </div>
    </form>
  </fieldset>
</div>
<div class="container pb-3">
  <fieldset class="scheduler-border">
    <legend class="scheduler-border">Danh sách thuốc</legend>
    <div>
      <table class="table table-bordered table-striped">
        <thead class="thead">
        <tr>
          <th scope="col">STT</th>
          <th scope="col">Mã thuốc</th>
          <th scope="col">Nhóm thuốc</th>
          <th scope="col">Tên thuốc</th>
          <th scope="col">Hoạt chất</th>
          <th scope="col">ĐVT</th>
          <th scope="col">ĐV QB</th>
          <th scope="col">Số lượng</th>
          <th scope="col">Gía nhập</th>
          <th scope="col">Gía sỉ</th>
          <th scope="col">Gía lẻ</th>
          <th scope="col">%CK</th>
          <th scope="col">%LN XS</th>
          <th scope="col">%LN XL</th>
          <th scope="col">VAT</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let drug of drugs, index as i">
          <td scope="row">{{i}}</td>
          <td>{{drug.drugCode}}</td>
          <td>{{drug.drugGroup}}</td>
          <td>{{drug.drugName}}</td>
          <td>{{drug.activeElement}}</td>
          <td>{{drug.unit}}</td>
          <td>{{drug.conversionUnit}}</td>
          <td>{{drug.drugAmount}}</td>
          <td>{{drug.importPrice| number: '1.2-2'}}</td>
          <td>{{drug.wholesalePrice | number: '1.2-2'}}</td>
          <td>{{drug.retailPrice | number: '1.2-2'}}</td>
          <td>{{drug.discountRate}}</td>
          <td>{{drug.wholesaleProfitRate}}</td>
          <td>{{drug.retailProfitRate}}</td>
          <td>{{drug.vat}}</td>
        </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-end">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item" ><a class="page-link" (click)="previousPage()">Trước</a></li>
            <li class="page-item" *ngIf="indexPagination -1 >= 1"><a class="page-link" (click)="previousPage()">{{indexPagination-1}}</a></li>
            <li class="page-item" ><a class="page-link font-weight-bold">{{indexPagination}}</a></li>
            <li class="page-item" *ngIf="indexPagination +1 <= totalPagination"><a class="page-link"  (click)="nextPage()">{{indexPagination+1}}</a></li>
            <li class="page-item" ><a class="page-link" (click)="nextPage()">Sau</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </fieldset>
  <div class="container mt-3 mb-5">
    <div class="row">
      <div class="col-lg-12">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-right">
              <button class="mr-3 btn btn-create button" type="button"><i
                class="fa fa-plus"></i> Thêm
              </button>
              <button class="mr-3 btn btn-edit button" type="button"><i
                class="fa fa-edit"></i> Sửa
              </button>
              <button class="mr-3 btn btn-danger button" data-toggle="modal"
                      data-target="#exampleModal"><i
                class="fa fa-trash-o"></i> Xóa
              </button>
              <div class="modal fade" id="exampleModal" tabindex="-1"
                   aria-labelledby="exampleModalLabel"
                   aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Xóa mã thuốc</h5>
                      <button type="button" class="close" data-dismiss="modal"
                              aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Bạn có chắc muốn xóa mã thuốc <span
                      class="text-danger font-weight-bold">T00002</span> ?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn button btn-return"
                              data-dismiss="modal">Không
                      </button>
                      <button type="button" class="btn btn-danger"
                              data-dismiss="modal">Xóa
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <button class=" btn btn-return button " type="button"><i
                class="fa fa-reply"></i> Trở về
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
