<div class="container">
  <div class="container" style="background: #567FEA;height: 50px">
    <h2 style="text-align: center;line-height: 50px">Danh sách thuốc</h2></div>
  <fieldset class="scheduler-border">
    <legend class="scheduler-border">Bộ lọc</legend>
    <form class="border p-3" [formGroup]="drugForm">
      <div class="container">
        <div class="row">
          <div class="col-lg-1">Lọc theo</div>
          <div class="col-lg-3">
            <select class="form-control"
                    style="height: 30px; width: 200px;border-radius: 4px;border: 2px solid"
                    type="text">
              <option>Mã thuốc</option>
              <option>Nhóm thuốc</option>
              <option>Tên thuốc</option>
              <option>Hoạt chất</option>
              <option>Gía nhập</option>
              <option>Gía bán lẻ</option>
              <option>Gía bán sỉ</option>
            </select>
          </div>
          <div class="col-lg-3">
            <select class="form-control"
                    style="height: 30px; width: 200px;border-radius: 4px;border: 2px solid"
                    type="text">
              <option>- Điều kiện -</option>
              <option>Bằng</option>
              <option>Lớn hơn</option>
              <option>Lớn hơn bằng</option>
              <option>Nhỏ hơn bằng</option>
              <option>Khác</option>
              <option>Tất cả</option>
            </select>
          </div>
          <div class="col-lg-3">
            <input class="form-control"
                   style="height: 30px; width: 200px;border-radius: 4px;border: 2px solid"
                   type="text">
          </div>
          <div class="col-lg-2">
            <button style="height: 30px" class=" btn btn-search" type="button"><i
              class="fa fa-search" aria-hidden="true"></i> Lọc
              kết
              quả
            </button>
          </div>
        </div>
      </div>
    </form>
  </fieldset>
</div>
<div class="container pb-3">
  <fieldset class="scheduler-border">
    <legend class="scheduler-border">Danh sách thuốc</legend>
    <div class="container" style="height: 350px">
      <div class="row">
        <table class="table table-bordered table-striped">
          <thead class="thead">
          <tr>
            <th class="col-lg-0.5">STT</th>
            <th class="col-lg-0.5">Mã thuốc</th>
            <th class="col-lg-1">Nhóm thuốc</th>
            <th class="col-lg-1">Tên thuốc</th>
            <th class="col-lg-1">Hoạt chất</th>
            <th class="col-lg-1">ĐVT</th>
            <th class="col-lg-1">ĐV QB</th>
            <th class="col-lg-1">Số lượng</th>
            <th class="col-lg-1">Gía nhập</th>
            <th class="col-lg-1">Gía sỉ</th>
            <th class="col-lg-1">Gía lẻ</th>
            <th class="col-lg-0.5">%CK</th>
            <th class="col-lg-0.5">%LN XS</th>
            <th class="col-lg-0.5">%LN XL</th>
            <th class="col-lg-0.5">VAT</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let drug of drugs, index as i" (click)="selectDrug(drug.drugId)"
              [ngStyle]="{'background': drug.drugId == drugSelectedId ? selectedColor:''}">
            <td>{{i+1+(indexPagination-1)*5}}</td>
            <td>{{drug.drugCode}}</td>
            <td>{{drug.drugGroup}}</td>
            <td>{{drug.drugName}}</td>
            <td>{{drug.activeElement}}</td>
            <td>{{drug.unit}}</td>
            <td>{{drug.conversionUnit}}</td>
            <td>{{drug.drugAmount}}</td>
            <td>{{drug.importPrice| number: '1.2-2'}}</td>
            <td>{{drug.wholesalePrice | number: '1.2-2'}}</td>
            <td>{{drug.retailPrice | number: '1.2-2'}}</td>
            <td>{{drug.discountRate}}</td>
            <td>{{drug.wholesaleProfitRate}}</td>
            <td>{{drug.retailProfitRate}}</td>
            <td>{{drug.vat}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="d-flex justify-content-end mt-3">
      <nav aria-label="Page navigation example">
        <ul class="pagination" *ngIf="indexPagination > 1 && indexPagination<totalPagination">
          <li class="page-item"><a class="page-link" (click)="previousPage()">Trước</a></li>
          <li class="page-item" *ngIf="indexPagination -1 >= 1"><a class="page-link"
                                                                   (click)="previousPage()">{{indexPagination - 1}}</a>
          </li>
          <li class="page-item"><a class="page-link font-weight-bold">{{indexPagination}}</a></li>
          <li class="page-item" *ngIf="indexPagination +1 <= totalPagination"><a class="page-link"
                                                                                 (click)="nextPage()">{{indexPagination + 1}}</a>
          </li>
          <li class="page-item"><a class="page-link" (click)="nextPage()">Sau</a></li>
        </ul>
        <ul class="pagination" *ngIf="indexPagination == 1">
          <li class="page-item"><a class="page-link" (click)="previousPage()">Trước</a></li>
          <li class="page-item"><a class="page-link font-weight-bold" (click)="previousPage()">{{indexPagination}}</a>
          </li>
          <li class="page-item" *ngIf="indexPagination +1 <= totalPagination"><a
            class="page-link">{{indexPagination + 1}}</a></li>
          <li class="page-item" *ngIf="indexPagination +2 <= totalPagination"><a class="page-link"
                                                                                 (click)="nextPage()">{{indexPagination + 2}}</a>
          </li>
          <li class="page-item"><a class="page-link" (click)="nextPage()">Sau</a></li>
        </ul>
        <ul class="pagination" *ngIf="indexPagination == totalPagination && indexPagination !=1">
          <li class="page-item"><a class="page-link" (click)="previousPage()">Trước</a></li>
          <li class="page-item" *ngIf="indexPagination -2 >= 1"><a class="page-link"
                                                                   (click)="previousPage()">{{indexPagination - 2}}</a>
          </li>
          <li class="page-item"><a class="page-link">{{indexPagination -1}}</a></li>
          <li class="page-item"><a class="page-link font-weight-bold" (click)="nextPage()">{{indexPagination}}</a>
          </li>
          <li class="page-item"><a class="page-link" (click)="nextPage()">Sau</a></li>
        </ul>
      </nav>
    </div>
  </fieldset>
  <div class="container mt-3 mb-5">
    <div class="row">
      <div class="col-lg-12">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-right">
              <button [routerLink]="['/drug/create']" class="mr-3 btn btn-create button" type="button"><i
                class="fa fa-plus"></i> Thêm
              </button>
              <button class="mr-3 btn btn-edit button" *ngIf="selected" (click)="updateDialog()"><i
                class="fa fa-edit"></i> Sửa
              </button>
              <button class="mr-3 btn btn-edit button" *ngIf="!selected" (click)="noSelectUpdateDialog()"><i
                class="fa fa-edit"></i> Sửa
              </button>
              <button class="mr-3 btn btn-danger button" *ngIf="selected" (click)="deleteDialog()"><i
                class="fa fa-trash-o"></i> Xóa
              </button>
              <button class="mr-3 btn btn-danger button" *ngIf="!selected" (click)="notSelectedDialog()"><i
                class="fa fa-trash-o"></i> Xóa
              </button>
              <button class=" btn btn-return button " type="button"><i
                class="fa fa-reply"></i> Trở về
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
