<div class="container mb-5">
  <form id="form">
    <div class="row mx-0 d-flex justify-content-center">
      <div class="col-lg-12 d-flex justify-content-start ml-0 px-0">
        <h2 class="mt-2 font-weight-bold" style="color: cadetblue">Thông tin thuốc</h2>
      </div>
      <!--                        <div class="d-flex">-->
      <!--                            <i class="fa fa-window-minimize mt-2 mr-2"></i>-->
      <!--                            <i class="fa fa-times mt-2 mr-2" style="font-size: 20px"></i>-->
      <!--                        </div>-->
    </div>
    <div class="border border-dark mx-0 mt-2 pt-2 px-2">
      <!--                        <div class="row d-flex align-items-center">-->
      <!--                            <div class="col-lg-2">-->
      <!--                                <label class="label-text">Mã thuốc <span style="color: red">(*)</span></label>-->
      <!--                            </div>-->
      <!--                            <div class="col-lg-10">-->
      <!--                                <input class="form-control border border-dark" type="text">-->
      <!--                            </div>-->
      <!--&lt;!&ndash;                            <div class="col-lg-1 px-0">&ndash;&gt;-->
      <!--&lt;!&ndash;                                <label class="label-text" style="color: red">(*)</label>&ndash;&gt;-->
      <!--&lt;!&ndash;                            </div>&ndash;&gt;-->
      <!--                        </div>-->
      <!--                        <div class="row d-flex mb-3 align-items-center">-->
      <!--                            <div class="col-lg-2">-->

      <!--                            </div>-->
      <!--                            <div class="col-lg-9">-->
      <!--                                <small style="color: red">Thông tin này bắt buộc phải nhập!</small>-->
      <!--                            </div>-->
      <!--                            <div class="col-lg-1 px-0">-->

      <!--                            </div>-->
      <!--                        </div>-->
      <div class="row d-flex align-items-center">
        <div class="col-lg-2">
          <label class="label-text">Tên thuốc <span style="color: red">(*)</span></label>
        </div>
        <div class="col-lg-10">
          <input class="form-control border border-dark" type="text">
        </div>
        <!--                            <div class="col-lg-1 px-0">-->
        <!--                                <label class="label-text" style="color: red">(*)</label>-->
        <!--                            </div>-->
      </div>
      <div class="row d-flex mb-3 align-items-center">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-9">
          <small style="color: red">Thông tin này bắt buộc phải nhập!</small>
        </div>
        <div class="col-lg-1 px-0">

        </div>
      </div>
      <div class="row d-flex align-items-center">
        <div class="col-lg-2">
          <label class="label-text">Hoạt chất <span style="color: red">(*)</span></label>
        </div>
        <div class="col-lg-10">
          <input class="form-control border border-dark" type="text">
        </div>
        <!--                            <div class="col-lg-1 px-0">-->
        <!--                                <label class="label-text" style="color: red">(*)</label>-->
        <!--                            </div>-->
      </div>
      <div class="row d-flex mb-3 align-items-center">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-9">
          <small style="color: red">Thông tin này bắt buộc phải nhập!</small>
        </div>
        <div class="col-lg-1 px-0">

        </div>
      </div>
      <div class="row d-flex align-items-center">
        <div class="col-lg-2">
          <label class="label-text">Công dụng <span style="color: red">(*)</span></label>
        </div>
        <div class="col-lg-10">
          <input class="form-control border border-dark" type="text">
        </div>
        <!--                            <div class="col-lg-1 px-0">-->
        <!--                                <label class="label-text" style="color: red">(*)</label>-->
        <!--                            </div>-->
      </div>
      <div class="row d-flex mb-3 align-items-center">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-9">
          <small style="color: red">Thông tin này bắt buộc phải nhập!</small>
        </div>
        <div class="col-lg-1 px-0">

        </div>
      </div>
      <div class="row d-flex align-items-center">
        <div class="col-lg-2">
          <label class="label-text">Tác dụng phụ <span style="color: red">(*)</span></label>
        </div>
        <div class="col-lg-10">
          <input class="form-control border border-dark" type="text">
        </div>
        <!--                            <div class="col-lg-1 px-0">-->
        <!--                                <label class="label-text" style="color: red">(*)</label>-->
        <!--                            </div>-->
      </div>
      <div class="row d-flex mb-3 align-items-center">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-9">
          <small style="color: red">Thông tin này bắt buộc phải nhập!</small>
        </div>
        <div class="col-lg-1 px-0">

        </div>
      </div>
      <div class="row d-flex align-items-center">
        <div class="col-lg-2">
          <label class="label-text">Nhóm thuốc <span style="color: red">(*)</span></label>
        </div>
        <div class="col-lg-10">
          <select style="min-width: 100%;height: 33px">
            <option>Thuốc bổ</option>
            <option>Thuốc kháng sinh</option>
            <option>Thuốc kháng viêm</option>
          </select>
        </div>
        <!--                            <div class="col-lg-1 px-0">-->
        <!--                                <label class="label-text" style="color: red">(*)</label>-->
        <!--                            </div>-->
      </div>
      <div class="row d-flex mb-3 align-items-center">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-9">
          <small style="color: red">Thông tin này bắt buộc phải chọn!</small>
        </div>
        <div class="col-lg-1 px-0">

        </div>
      </div>
      <!--                        <div class="row d-flex align-items-center">-->
      <!--                            <div class="col-lg-2">-->
      <!--                                <label class="label-text">Hình ảnh thuốc <span style="color: red">(*)</span></label>-->
      <!--                            </div>-->
      <!--                            <div class="col-lg-10">-->
      <!--                                <input type="file" class="form-control-file pl-0">-->
      <!--                            </div>-->
      <!--                        </div>-->
      <!--                        <div class="row d-flex mb-3 align-items-center">-->
      <!--                            <div class="col-lg-2">-->

      <!--                            </div>-->
      <!--                            <div class="col-lg-9">-->
      <!--                                <small style="color: red">Thông tin này bắt buộc phải chọn!</small>-->
      <!--                            </div>-->
      <!--                            <div class="col-lg-1 px-0">-->

      <!--                            </div>-->
      <!--                        </div>-->
      <hr style="color: black">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-4">
              <label class="label-text">Đơn vị <span style="color: red">(*)</span></label>
            </div>
            <div class="col-lg-6">
              <select style="min-width: 100%;height: 33px">
                <option>Hộp</option>
                <option>Thùng</option>
                <option>Vỉ</option>
                <option>Bịch</option>
              </select>
            </div>
            <!--                                    <div class="col-lg-2 px-0">-->
            <!--                                        <label class="label-text" style="color: red">(*)</label>-->
            <!--                                    </div>-->
          </div>
        </div>
        <div class="col-lg-6"></div>
      </div>
      <div class="row d-flex mb-3 align-items-center">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-9">
          <small style="color: red">Thông tin này bắt buộc phải chọn!</small>
        </div>
        <div class="col-lg-1 px-0">

        </div>
      </div>
      <div class="row d-flex ">
        <div class="col-lg-6">
          <div class="row align-items-center">
            <div class="col-lg-4">
              <label class="label-text">ĐVT Quy đổi <span style="color: red">(*)</span></label>
            </div>
            <div class="col-lg-6">
              <select style="min-width: 100%;height: 33px">
                <option>Gói</option>
                <option>Lọ</option>
                <option>Viên</option>
              </select>
            </div>
            <!--                                    <div class="col-lg-2 px-0">-->
            <!--                                        <label class="label-text" style="color: red">(*)</label>-->
            <!--                                    </div>-->
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row align-items-center">
            <div class="col-lg-4">
              <label class="label-text">Tỷ lệ quy đổi <span style="color: red">(*)</span></label>
            </div>
            <div class="col-lg-6">
              <input class="form-control border border-dark" type="text">
            </div>
            <!--                                    <div class="col-lg-2 px-0">-->
            <!--                                        <label class="label-text" style="color: red">(*)</label>-->
            <!--                                    </div>-->
          </div>
        </div>
      </div>
      <div class="row d-flex mb-3 ">
        <div class="col-lg-6">
          <div class="row align-items-center">
            <div class="col-lg-4">

            </div>
            <div class="col-lg-8">
              <small style="color: red">Thông tin này bắt buộc phải chọn!</small>
            </div>

          </div>
        </div>
        <div class="col-lg-6">
          <div class="row align-items-center">
            <div class="col-lg-4">

            </div>
            <div class="col-lg-8">
              <small style="color: red">Thông tin này bắt buộc phải nhập!</small>
            </div>

          </div>
        </div>
      </div>
      <!--                        <div class="row d-flex mb-3 ">-->
      <!--                            <div class="col-lg-6">-->
      <!--                                <div class="row align-items-center">-->
      <!--                                    <div class="col-lg-4 d-flex">-->
      <!--                                        <label class="label-text">Giá nhập</label>-->
      <!--                                    </div>-->
      <!--                                    <div class="col-lg-6">-->
      <!--                                        <input class="form-control border border-dark" type="text">-->
      <!--                                    </div>-->
      <!--                                    <div class="col-lg-2 d-flex mx-0 px-0">-->
      <!--                                        đ/Đơn vị-->
      <!--                                    </div>-->
      <!--                                </div>-->
      <!--                            </div>-->
      <!--                            <div class="col-lg-6">-->
      <!--                                <div class="row align-items-center">-->
      <!--                                    <div class="col-lg-4">-->
      <!--                                        <label class="label-text">Giá nhập QĐ</label>-->
      <!--                                    </div>-->
      <!--                                    <div class="col-lg-6">-->
      <!--                                        <input class="form-control border border-dark" type="text">-->
      <!--                                    </div>-->
      <!--                                    <div class="col-lg-2 d-flex mx-0 px-0">-->
      <!--                                        đ/Đơn vị-->
      <!--                                    </div>-->
      <!--                                </div>-->
      <!--                            </div>-->
      <!--                        </div>-->
      <!--                        <div class="row d-flex mb-3 ">-->
      <!--                            <div class="col-lg-6">-->
      <!--                                <div class="row align-items-center">-->
      <!--                                    <div class="col-lg-4 d-flex">-->
      <!--                                        <label class="label-text">Tỷ lệ CK</label>-->
      <!--                                    </div>-->
      <!--                                    <div class="col-lg-6">-->
      <!--                                        <input class="form-control border border-dark" type="text">-->
      <!--                                    </div>-->
      <!--                                    <div class="col-lg-2 d-flex mx-0 px-0">-->
      <!--                                        %-->
      <!--                                    </div>-->
      <!--                                </div>-->
      <!--                            </div>-->
      <!--                            <div class="col-lg-6">-->
      <!--                                <div class="row align-items-center">-->
      <!--                                    <div class="col-lg-4">-->
      <!--                                        <label class="label-text">VAT</label>-->
      <!--                                    </div>-->
      <!--                                    <div class="col-lg-6">-->
      <!--                                        <input class="form-control border border-dark" type="text">-->
      <!--                                    </div>-->
      <!--                                    <div class="col-lg-2 d-flex mx-0 px-0">-->
      <!--                                        %-->
      <!--                                    </div>-->
      <!--                                </div>-->
      <!--                            </div>-->
      <!--                        </div>-->
      <!--                        <div class="row d-flex ">-->
      <!--                            <div class="col-lg-6">-->
      <!--                                <div class="row align-items-center">-->
      <!--                                    <div class="col-lg-4 d-flex">-->
      <!--                                        <label class="label-text">Nhập có VAT <span style="color: red">(*)</span></label>-->
      <!--                                    </div>-->
      <!--                                    <div class="col-lg-6">-->
      <!--                                        <input class="form-control border border-dark" type="text">-->
      <!--                                    </div>-->
      <!--&lt;!&ndash;                                    <div class="col-lg-2 px-0">&ndash;&gt;-->
      <!--&lt;!&ndash;                                        <label class="label-text" style="color: red">(*)</label>&ndash;&gt;-->
      <!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
      <!--                                </div>-->
      <!--                            </div>-->
      <!--                            <div class="col-lg-6">-->
      <!--                                <div class="row align-items-center">-->
      <!--                                    <div class="col-lg-4">-->
      <!--                                        <label class="label-text">Nhập QĐ có VAT <span style="color: red">(*)</span></label>-->
      <!--                                    </div>-->
      <!--                                    <div class="col-lg-6">-->
      <!--                                        <input class="form-control border border-dark" type="text">-->
      <!--                                    </div>-->
      <!--&lt;!&ndash;                                    <div class="col-lg-2 px-0">&ndash;&gt;-->
      <!--&lt;!&ndash;                                        <label class="label-text" style="color: red">(*)</label>&ndash;&gt;-->
      <!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
      <!--                                </div>-->
      <!--                            </div>-->
      <!--                        </div>-->
      <!--                        <div class="row d-flex mb-3 ">-->
      <!--                            <div class="col-lg-6">-->
      <!--                                <div class="row align-items-center">-->
      <!--                                    <div class="col-lg-4">-->

      <!--                                    </div>-->
      <!--                                    <div class="col-lg-8">-->
      <!--                                        <small style="color: red">Thông tin này bắt buộc phải nhập!</small>-->
      <!--                                    </div>-->

      <!--                                </div>-->
      <!--                            </div>-->
      <!--                            <div class="col-lg-6">-->
      <!--                                <div class="row align-items-center">-->
      <!--                                    <div class="col-lg-4">-->

      <!--                                    </div>-->
      <!--                                    <div class="col-lg-8">-->
      <!--                                        <small style="color: red">Thông tin này bắt buộc phải nhập!</small>-->
      <!--                                    </div>-->

      <!--                                </div>-->
      <!--                            </div>-->
      <!--                        </div>-->
      <div class="row d-flex ">
        <div class="col-lg-6">
          <div class="row align-items-center">
            <div class="col-lg-4 d-flex">
              <label class="label-text">% Lợi nhuận XC<span style="color: red">(*)</span></label>
            </div>
            <div class="col-lg-6">
              <input class="form-control border border-dark" type="text">
            </div>
            <!--                                    <div class="col-lg-2 px-0">-->
            <!--                                        <label class="label-text" style="color: red">(*)</label>-->
            <!--                                    </div>-->
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row align-items-center">
            <div class="col-lg-4">
              <label class="label-text">% Lợi nhuận XL</label>
            </div>
            <div class="col-lg-6">
              <input class="form-control border border-dark" type="text">
            </div>
          </div>
        </div>
      </div>
      <div class="row d-flex mb-3 ">
        <div class="col-lg-6">
          <div class="row align-items-center">
            <div class="col-lg-4">

            </div>
            <div class="col-lg-8">
              <small style="color: red">Thông tin này bắt buộc phải nhập!</small>
            </div>

          </div>
        </div>
        <div class="col-lg-6">

        </div>
      </div>
      <hr style="color: black">
      <!--                        <div class="row d-flex mb-3 ">-->
      <!--                            <div class="col-lg-6">-->
      <!--                                <div class="row align-items-center">-->
      <!--                                    <div class="col-lg-4 d-flex">-->
      <!--                                        <label class="label-text">Giá bán sỉ</label>-->
      <!--                                    </div>-->
      <!--                                    <div class="col-lg-6">-->
      <!--                                        <input class="form-control border border-dark" type="text">-->
      <!--                                    </div>-->
      <!--                                    <div class="col-lg-2 d-flex mx-0 px-0">-->
      <!--                                        đ/Đơn vị-->
      <!--                                    </div>-->
      <!--                                </div>-->
      <!--                            </div>-->
      <!--                            <div class="col-lg-6">-->
      <!--                                <div class="row align-items-center">-->
      <!--                                    <div class="col-lg-4">-->
      <!--                                        <label class="label-text">Giá bán lẻ</label>-->
      <!--                                    </div>-->
      <!--                                    <div class="col-lg-6">-->
      <!--                                        <input class="form-control border border-dark" type="text">-->
      <!--                                    </div>-->
      <!--                                    <div class="col-lg-2 d-flex mx-0 px-0">-->
      <!--                                        đ/Đơn vị-->
      <!--                                    </div>-->
      <!--                                </div>-->
      <!--                            </div>-->
      <!--                        </div>-->
      <div class="row d-flex ">
        <div class="col-lg-6">
          <div class="row align-items-center">
            <div class="col-lg-4 d-flex">
              <label class="label-text">Nhà sản xuất</label>
            </div>
            <div class="col-lg-6">
              <input class="form-control border border-dark" type="text">
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row align-items-center">
            <div class="col-lg-4">
              <label class="label-text">Xuất xứ <span style="color: red">(*)</span></label>
            </div>
            <div class="col-lg-6">
              <select style="min-width: 100%;height: 33px">
                <option>Việt Nam</option>
                <option>Trung Quốc</option>
                <option>Mỹ</option>
              </select>
            </div>
            <!--                                    <div class="col-lg-2 px-0">-->
            <!--                                        <label class="label-text" style="color: red">(*)</label>-->
            <!--                                    </div>-->

          </div>
        </div>
      </div>
      <div class="row d-flex mb-3 ">
        <div class="col-lg-6">

        </div>
        <div class="col-lg-6">
          <div class="row align-items-center">
            <div class="col-lg-4">

            </div>
            <div class="col-lg-8">
              <small style="color: red">Thông tin này bắt buộc phải chọn!</small>
            </div>

          </div>
        </div>
      </div>
      <div class="row d-flex mb-3 align-items-center">
        <div class="col-lg-2">
          <label class="label-text">Ghi chú</label>
        </div>
        <div class="col-lg-9">
          <input class="form-control border border-dark" style="height: 66px" type="text">
        </div>
      </div>
    </div>
    <div class="row d-flex pt-2">
      <div class="col-lg-4">
        <label class="label-text ml-0">(*) Thông tin bắt buộc</label>
      </div>
      <div class="col-lg-8 d-flex justify-content-end">
        <button class="mr-3 btn btn-create button" type="button"><i class="fa fa-plus"></i> Thêm </button>
        <button class="mr-0 btn btn-return button " type="button"><i class="icon-sidebar fa fa-reply text-warning"></i> Trở về </button>
      </div>
    </div>
  </form>
</div>
