
<!--LIST THỰC PHẨM CHỨC NĂNG-->
<div class="container py-2 mt-2">
  <h2 class="text-center font-weight-bold py-2" style="color: #242a61">THỰC PHẨM CHỨC NĂNG</h2>
  <div class="row pt-2">
    <div class="col-lg-3 col-md-6 col-6 col-sm-6 mb-4 mb-lg-5">
      <div class="hovereffect">
        <img class="img-responsive" width="255" height="250" src="./assets/image/client-page-image/alipas.png" alt="">
        <div class="overlay" style="padding-top: 60px">
          <a class="info" style="border-radius: 8px; background-color: #2FC1A6" href="#">CHI TIẾT</a>
          <a class="info" style="border-radius: 8px; margin-top: 5px; background-color: #567FEA" href="#">THÊM
            VÀO GIỎ</a>
        </div>
        <div class="align-content-center pt-3">
          <h6 class="text-dark">Sâm Alipas</h6>
          <h6 class="text-dark">Giá: 750000 VND / Lọ</h6>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-6 col-sm-6 mb-4 mb-lg-5">
      <div class="hovereffect">
        <img class="img-responsive" width="255" height="250" src="./assets/image/client-page-image/GHCreation.png" alt="">
        <div class="overlay" style="padding-top: 60px">
          <a class="info" style="border-radius: 8px; background-color: #2FC1A6" href="#">CHI TIẾT</a>
          <a class="info" style="border-radius: 8px; margin-top: 5px; background-color: indianred">HẾT
            HÀNG</a>
        </div>
        <div class="align-content-center pt-3">
          <h6 class="text-dark">Tăng chiều cao GH Creation</h6>
          <h6 class="text-danger">HẾT HÀNG</h6>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-6 col-sm-6 mb-4 mb-lg-5">
      <div class="hovereffect">
        <img class="img-responsive" width="255" height="250" src="./assets/image/client-page-image/collagen.webp" alt="">
        <div class="overlay" style="padding-top: 60px">
          <a class="info" style="border-radius: 8px; background-color: #2FC1A6" href="#">CHI TIẾT</a>
          <a class="info" style="border-radius: 8px; margin-top: 5px; background-color: #567FEA" href="#">THÊM
            VÀO GIỎ</a>
        </div>
        <div class="align-content-center pt-3">
          <h6 class="text-dark">Collagen Mỹ</h6>
          <h6 class="text-dark">Giá: 650000 VND / Lọ</h6>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-6 col-sm-6 mb-4 mb-lg-5">
      <div class="hovereffect">
        <img class="img-responsive" width="255" height="250" src="./assets/image/client-page-image/vitaminckirkland.webp" alt="">
        <div class="overlay" style="padding-top: 60px">
          <a class="info" style="border-radius: 8px; background-color: #2FC1A6" href="#">CHI TIẾT</a>
          <a class="info" style="border-radius: 8px; margin-top: 5px; background-color: #567FEA" href="#">THÊM
            VÀO GIỎ</a>
        </div>
        <div class="align-content-center pt-3">
          <h6 class="text-dark">Vitamin C Kirkland</h6>
          <h6 class="text-dark">Giá: 450000 VND / Lọ</h6>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn drug-group-toggle btn-lg btn-block">XEM THÊM THỰC PHẨM CHỨC NĂNG</button>
</div>
<!--LIST THUỐC GIẢM ĐAU-->
<div class="container py-2 mt-2">
  <h2 class="text-center font-weight-bold py-2" style="color: #242a61">THUỐC GIẢM ĐAU</h2>
  <div class="row pt-2">
    <div class="col-lg-3 col-md-6 col-6 col-sm-6 mb-4 mb-lg-5">
      <div class="hovereffect">
        <img class="img-responsive" width="255" height="250" src="./assets/image/client-page-image/panadol.png" alt="">
        <div class="overlay" style="padding-top: 60px">
          <a class="info" style="border-radius: 8px; background-color: #2FC1A6" href="#">CHI TIẾT</a>
          <a class="info" style="border-radius: 8px; margin-top: 5px; background-color: #567FEA" href="#">THÊM
            VÀO GIỎ</a>
        </div>
        <div class="align-content-center pt-3">
          <h6 class="text-dark">Panadol</h6>
          <h6 class="text-dark">Giá: 30000 VND / Hộp</h6>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-6 col-sm-6 mb-4 mb-lg-5">
      <div class="hovereffect">
        <img class="img-responsive" width="255" height="250" src="./assets/image/client-page-image/aspirin.jpeg" alt="">
        <div class="overlay" style="padding-top: 60px">
          <a class="info" style="border-radius: 8px; background-color: #2FC1A6" href="#">CHI TIẾT</a>
          <a class="info" style="border-radius: 8px; margin-top: 5px; background-color: indianred">HẾT
            HÀNG</a>
        </div>
        <div class="align-content-center pt-3">
          <h6 class="text-dark">Aspirin</h6>
          <h6 class="text-danger">HẾT HÀNG</h6>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-6 col-sm-6 mb-4 mb-lg-5">
      <div class="hovereffect">
        <img class="img-responsive" width="255" height="250" src="./assets/image/client-page-image/tk3.png" alt="">
        <div class="overlay" style="padding-top: 60px">
          <a class="info" style="border-radius: 8px; background-color: #2FC1A6" href="#">CHI TIẾT</a>
          <a class="info" style="border-radius: 8px; margin-top: 5px; background-color: #567FEA" href="#">THÊM
            VÀO GIỎ</a>
        </div>
        <div class="align-content-center pt-4">
          <h6 class="text-dark">TK3</h6>
          <h6 class="text-dark">Giá: 15000 VND / Hộp</h6>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-6 col-sm-6 mb-4 mb-lg-5">
      <div class="hovereffect">
        <img class="img-responsive" width="255" height="250" src="./assets/image/client-page-image/alaxan.jpeg" alt="">
        <div class="overlay" style="padding-top: 60px">
          <a class="info" style="border-radius: 8px; background-color: #2FC1A6" href="#">CHI TIẾT</a>
          <a class="info" style="border-radius: 8px; margin-top: 5px; background-color: #567FEA" href="#">THÊM
            VÀO GIỎ</a>
        </div>
        <div class="align-content-center pt-3">
          <h6 class="text-dark">Alaxan</h6>
          <h6 class="text-dark">Giá: 20000 VND / Hộp</h6>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn drug-group-toggle btn-lg btn-block">XEM THÊM THUỐC GIẢM ĐAU</button>
</div>
<!--LIST THUỐC HÔ HẤP-->
<div class="container py-2 mt-2">
  <h2 class="text-center font-weight-bold py-2" style="color: #242a61">THUỐC HÔ HẤP</h2>
  <div class="row pt-2">
    <div class="col-lg-3 col-md-6 col-6 col-sm-6 mb-4 mb-lg-5">
      <div class="hovereffect">
        <img class="img-responsive" width="255" height="250" src="./assets/image/client-page-image/heviho.webp" alt="">
        <div class="overlay" style="padding-top: 60px">
          <a class="info" style="border-radius: 8px; background-color: #2FC1A6" href="#">CHI TIẾT</a>
          <a class="info" style="border-radius: 8px; margin-top: 5px; background-color: #567FEA" href="#">THÊM
            VÀO GIỎ</a>
        </div>
        <div class="align-content-center pt-3">
          <h6 class="text-dark">Panadol</h6>
          <h6 class="text-dark">Giá: 120000 VND / Chai</h6>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-6 col-sm-6 mb-4 mb-lg-5">
      <div class="hovereffect">
        <img class="img-responsive" width="255" height="250" src="./assets/image/client-page-image/namha.webp" alt="">
        <div class="overlay" style="padding-top: 60px">
          <a class="info" style="border-radius: 8px; background-color: #2FC1A6" href="#">CHI TIẾT</a>
          <a class="info" style="border-radius: 8px; margin-top: 5px; background-color: #567FEA" href="#">THÊM
            VÀO GIỎ</a>
        </div>
        <div class="align-content-center pt-3">
          <h6 class="text-dark">Bổ phế Nam Hà</h6>
          <h6 class="text-dark">Giá: 39000 VND / Chai</h6>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-6 col-sm-6 mb-4 mb-lg-5">
      <div class="hovereffect">
        <img class="img-responsive" width="255" height="250" src="./assets/image/client-page-image/baothanh.webp" alt="">
        <div class="overlay" style="padding-top: 60px">
          <a class="info" style="border-radius: 8px; background-color: #2FC1A6" href="#">CHI TIẾT</a>
          <a class="info" style="border-radius: 8px; margin-top: 5px; background-color: #567FEA" href="#">THÊM
            VÀO GIỎ</a>
        </div>
        <div class="align-content-center pt-3">
          <h6 class="text-dark">Siro ho Bảo Thanh</h6>
          <h6 class="text-dark">Giá: 32000 VND / Chai</h6>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-6 col-sm-6 mb-4 mb-lg-5">
      <div class="hovereffect">
        <img class="img-responsive" width="255" height="250" src="./assets/image/client-page-image/prospan.webp" alt="">
        <div class="overlay" style="padding-top: 60px">
          <a class="info" style="border-radius: 8px; background-color: #2FC1A6" href="#">CHI TIẾT</a>
          <a class="info" style="border-radius: 8px; margin-top: 5px; background-color: #567FEA" href="#">THÊM
            VÀO GIỎ</a>
        </div>
        <div class="align-content-center pt-3">
          <h6 class="text-dark">Prospan</h6>
          <h6 class="text-dark">Giá: 160000 VND / Chai</h6>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn drug-group-toggle btn-lg btn-block">XEM THÊM THUỐC HÔ HẤP</button>
</div>

